@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-pink-background);
  color: var(--color-pink-font);
}

:root {
  /* ===== COLOR ===== */
  --color-pink-background: #fef5f5;
  --color-pink-font: #ff5c7a;
  --color-white: #fff;

  /* ===== CONTAINER ====== */
  --container-lg: 75%;
  --container-md: 85%;
  --container-sm: 90%;
}

.container {
  width: var(--container-lg);
  margin: 0 auto;
}

/* =========== NAVBAR ============= */
nav {
  padding: 20px 0;
}
.container.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left i,
.nav-right i {
  font-size: 20px;

  cursor: pointer;
}

/* ========= HEADER ========= */

header {
  margin-top: 20px;
}
.header-title {
  margin-bottom: 20px;
}
.header-title .header-title-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title .header-title-top h1,
.header-title .header-title-bottom h1 {
  font-size: 100px;
  font-weight: 500;
}

.header-gallery {
  display: flex;
  justify-content: space-between;

  position: relative;
}
.header-gallery .gallery-items:nth-of-type(1) {
  position: absolute;
  top: 50px;
}
.header-gallery .gallery-items:nth-of-type(1)::before {
  content: "Give your love one a piece happiness";
  position: absolute;
  width: 230px;
  height: 200px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 1px solid var(--color-pink-font);
  background: var(--color-pink-background);
  display: grid;
  place-items: center;
  padding: 0 10px;
  font-size: 26px;
  text-align: center;
}
.header-gallery .gallery-items:nth-of-type(2) {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%);
}
.header-gallery .gallery-items:nth-of-type(3) {
  position: absolute;
  top: -100px;
  right: 0;
}
.header-gallery .gallery-items img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
/* =========RESPONSIVE====== */
/* medium devices (tablet) */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-md);
  }
}

/* small devices (cellphone) */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-sm);
  }
}
